.score-container {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 200px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}

.score-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.score-container .score {
    font-size: 36px;
    font-weight: bold;
    color: #4CAF50;
}
.gameCanvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    width: fit-content;
}